.bonus-container {
  padding: 25px 0;
  font-family: "Rubik", sans-serif;
}
.bonus-container .btn {
  border-radius: 50em;
  background-color: #959EAD;
  color: #fff;
  padding: 15px 25px;
}
.bonus-container .b-title {
  margin: 15px 0;
  font-size: 24px;
}
.bonus-container .sub-nav {
  padding: 0 0 15px;
  display: flex;
  justify-content: space-between;
}
.bonus-container .sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.bonus-container .sub-nav ul li:first-child a {
  padding-left: 0;
}
.bonus-container .sub-nav ul li.active {
  font-weight: bold;
}
.bonus-container .sub-nav ul li a {
  display: flex;
  padding: 15px;
  color: #6E6E6E;
}
.bonus-container .btn-profile {
  background-image: url("../img/icon-profile.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding: 15px 15px 15px 35px;
  color: #6E6E6E;
}
.bonus-container .bonus-wrap {
  color: #6E6E6E;
  padding-bottom: 45px;
}
.bonus-container .bonus-wrap .s-title {
  font-size: 30px;
  color: #474747;
  margin-bottom: 15px;
}
.bonus-container .bonus-wrap .b-title {
  margin-bottom: 35px;
}
.bonus-container .bonus-wrap .block-info {
  display: flex;
  border: 2px solid #959EAD;
  padding: 25px;
  border-radius: 5px;
}
.bonus-container .bonus-wrap .block-info .b-content {
  padding-left: 25px;
}
.bonus-container .bonus-wrap .block-info p {
  font-size: 24px;
  line-height: 1.2em;
}
.bonus-container .form-wrap {
  padding: 15px 0;
  font-size: 18px;
}
.bonus-container .form-wrap a {
  color: #007AFF;
}
.bonus-container .form-wrap .f-row {
  padding: 15px 0;
  font-style: italic;
}
.bonus-container .form-wrap .btn-submit {
  display: block;
  width: auto;
  margin: 0 auto;
  padding: 15px 60px;
  margin-top: 25px;
}
.bonus-container .bonus-info-wrap {
  background-color: #959EAD;
  border-radius: 5px;
  padding: 25px;
  max-width: 50%;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.bonus-container .bonus-info-wrap .title {
  margin-bottom: 10px;
  font-size: 20px;
}
.bonus-container .bonus-info-wrap .img-wrap {
  margin-left: 25px;
}
.bonus-container .bonus-info-wrap .b-content {
  font-size: 12px;
}
.bonus-container .blocks-wrap {
  display: flex;
}
.bonus-container .blocks-wrap .b-title {
  margin-bottom: 15px;
}
.bonus-container .blocks-wrap .block.right {
  width: 60%;
  padding-left: 25px;
}
.bonus-container .blocks-wrap .block.right .b-content {
  border: 2px solid #959EAD;
  border-radius: 5px;
  padding: 25px;
}
.bonus-container .blocks-wrap .block.right .b-content .btn {
  margin-top: 55px;
  display: inline-block;
  padding: 15px 45px;
}
.bonus-container .blocks-wrap .block.right .status-wrap {
  background-image: url("../img/bg-status.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
}
.bonus-container .blocks-wrap .block.right .status-wrap .title {
  font-size: 32px;
}
.bonus-container .blocks-wrap .block.right .status-wrap .img-wrap {
  padding-left: 25px;
}
.bonus-container .blocks-wrap .block.right .status-wrap .b-content {
  padding-left: 25px;
}
.bonus-container .blocks-wrap .block.left {
  width: 40%;
  padding-right: 25px;
}
.bonus-container .blocks-wrap .block.left .form-wrap input[type=text],
.bonus-container .blocks-wrap .block.left .form-wrap input[type=email],
.bonus-container .blocks-wrap .block.left .form-wrap select {
  display: block;
  margin: 10px 0;
  padding: 15px;
  border-radius: 15em;
  width: 100%;
  border: 1px solid #959EAD;
}
.bonus-container .blocks-wrap .block.left .form-wrap label {
  font-size: 16px;
}
.bonus-container .blocks-wrap .payment-wrap {
  padding: 25px 0;
}
.bonus-container .blocks-wrap .payment-wrap .b-title {
  font-size: 16px;
}
.bonus-container .blocks-wrap .payment-wrap .pay-block {
  padding: 15px 0;
  border-top: 1px solid #959EAD;
  border-bottom: 1px solid #959EAD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bonus-container .bonus-history .status-wrap {
  background: rgb(184, 143, 125);
  background: linear-gradient(90deg, rgb(184, 143, 125) 0%, rgb(147, 89, 64) 100%);
  border-radius: 15px;
  box-shadow: 0 5px 5px #ccc;
  padding: 15px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bonus-container .bonus-history .status-wrap .img-wrap {
  width: 20%;
  padding-left: 5%;
}
.bonus-container .bonus-history .status-wrap .b-content {
  width: 40%;
}
.bonus-container .bonus-history .status-wrap .b-content .b-title {
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 0;
}
.bonus-container .bonus-history .status-wrap .balance {
  width: 40%;
  text-align: right;
  padding-right: 5%;
}
.bonus-container .bonus-history .status-wrap .balance .b-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}
.bonus-container .bonus-history .status-wrap .balance .b-title span {
  font-size: 16px;
}
.bonus-container .bonus-history .status-wrap .balance p {
  text-transform: uppercase;
}
.bonus-container .bonus-progress-wrap {
  display: flex;
  margin: 25px 0;
  align-items: center;
}
.bonus-container .bonus-progress-wrap .block {
  width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.bonus-container .bonus-progress-wrap .block.left {
  justify-content: end;
  padding-right: 15px;
}
.bonus-container .bonus-progress-wrap .block .b-title {
  margin: 0;
  color: #959EAD;
  padding: 0 15px;
  font-size: 16px;
}
.bonus-container .bonus-progress-wrap .block .point {
  color: #6E6E6E;
}
.bonus-container .bonus-progress-wrap .status-line {
  width: 50%;
  height: 10px;
  border-radius: 15em;
  background-color: #E3E3E3;
  border: 1px solid #fff;
}
.bonus-container .bonus-progress-wrap .status-line::after {
  content: "";
  display: block;
  position: relative;
  border-radius: 15em;
  width: 50%;
  height: 100%;
  left: 0;
  background-color: #6E6E6E;
}
.bonus-container .bonus-list-wrap .block-wrap .b-title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.bonus-container .bonus-list-wrap .block-wrap .block {
  font-size: 16px;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 5px;
}
.bonus-container .bonus-list-wrap .block-wrap .block .info-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bonus-container .bonus-list-wrap .block-wrap .block .date {
  width: 30%;
}
.bonus-container .bonus-list-wrap .block-wrap .block .name {
  width: 60%;
}
.bonus-container .bonus-list-wrap .block-wrap .block .bonus {
  width: 30%;
  background-image: url("../img/icon-logo.png");
  background-repeat: no-repeat;
  padding-left: 55px;
}
.bonus-container .bonus-list-wrap .block-wrap .block .arr {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-arr.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.bonus-container .bonus-list-wrap .block-wrap .block .arr.active {
  transform: rotate(180deg);
}
.bonus-container .bonus-list-wrap .block-wrap .block .detail-wrap {
  width: 100%;
  display: none;
  margin-top: 25px;
}
.bonus-container .bonus-list-wrap .block-wrap .block .detail-wrap.active {
  display: block;
}
.bonus-container .bonus-list-wrap .block-wrap .block .detail-wrap table {
  width: 100%;
  border-top: 1px solid #959EAD;
  border-bottom: 1px solid #959EAD;
  padding-bottom: 15px;
}
.bonus-container .bonus-list-wrap .block-wrap .block .detail-wrap table > tr td {
  border: 1px solid #959EAD;
}
.bonus-container .bonus-list-wrap .block-wrap .block .detail-wrap table td {
  padding: 5px;
}
.bonus-container .bonus-list-wrap .block-wrap .block .detail-wrap .total {
  font-size: 28px;
  font-weight: bold;
  color: #4D897B;
  text-align: right;
  width: 100%;
  padding: 25px 0;
}
.bonus-container .bonus-list-wrap .block-wrap .block .detail-wrap .total span {
  font-size: 16px;
}/*# sourceMappingURL=bonus.css.map */