.bonus-container
  padding: 25px 0
  font-family: "Rubik", sans-serif

  .b-title
    margin: 15px 0

  .sub-nav
    padding: 0 0 15px
    display: flex
    justify-content: space-between
    ul
      list-style-type: none
      margin: 0
      padding: 0
      display: flex
      li
        &:first-child a
          padding-left: 0
        a
          display: flex
          padding: 15px
  .bonus-wrap
    padding: 25px 0
    color: #6E6E6E

    .block-info
      display: flex
      border: 2px solid #959EAD
      padding: 25px
      border-radius: 5px
      .icon
      .b-content
        padding-left: 25px
      p
        font-size: 24px
        line-height: 1.2em
  .form-wrap
    padding: 15px 0

    .btn-submit
      display: block
      width: auto
      margin: 0 auto
      padding: 15px 60px
      border-radius: 50em
      background-color: #959EAD
      color: #fff
      margin-top: 25px

  .btn-profile
    padding: 15px


  .bonus-info-wrap
    background-color: #959EAD
    border-radius: 5px
    padding: 25px
    max-width: 320px
    .title
      margin-bottom: 10px