

$font-stack:    Helvetica, sans-serif
$primary-color: #F2F1EF

body
    font: 100% $font-stack
    background-color: $primary-color
    display: block
    width: 100%
    margin: 0 auto
    font-style: normal

* 
  box-sizing: border-box

h2
    font-size: 25px
    font-weight: 400
h3
    font-size: 18px
    font-weight: 400
a
    text-decoration: none
    font-size: 13px
    color: #FFFFFF
li
    list-style-type:  none

// --------------------------

.box.horizontal.inline.space
                display: flex
                justify-content: space-around
                align-items: center

.header-top 
    padding: 3px 0 4px
    background-color: #004636

.header-top__line 
    gap: 20px
    display: flex

    .text 
        font-size: 11px
        color: #FFF

        #language
            font-weight: 600
            font-size: 12px
            line-height: 14px

    .inline 
        gap: 5px
        display: flex

.header-middle 
    padding: 16px 0

    .button
        width: 100px
        height: 40px

.header-bottom 
    position: relative

.header-bottom__menu
    gap: 30px
    display: flex

    &:hover ~ .dropdown
        visibility: visible !important
        opacity: 1 !important

    .btn
        &:hover 
            .icon 
                visibility: visible !important
                opacity: 1 !important

        .text 
            font-size: 13px
            color: #6E6E6E

    .btn 
        .icon 
            visibility: hidden
            opacity: 0
            transition: all 0.2s ease-in-out

.header-bottom 

    .dropdown 
        visibility: hidden
        opacity: 0
        transition: all 0.2s ease-in-out
        position: absolute
        top: 41px
        left: 0
        width: 100vw
        background-color: #F5F5F5
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1)
        z-index: 3

    .dropdown
        &:hover 
            visibility: visible !important
            opacity: 1 !important

    .dropdown-wrap 
        margin-top: 15.5px
        padding: 10.5px 0 16px
        border-top: 1px solid #959EAD

        .title 
            font-weight: 300
            line-height: 28px
            color: #959EAD

        .subtitle 
            margin: 7px 0 20px
            color: #4C4F5E

    .dropdown-menu 
        gap: 2px

        .text 
            position: relative
            line-height: 23px
            color: #6E6E6E

            &::before 
                position: absolute
                top: 50%
                transform: translateY(-50%)
                left: 0
                content: ""
                display: inline-block
                width: 5px
                height: 5px
                border-radius: 50%
                -moz-border-radius: 50%
                -webkit-border-radius: 50%
                visibility: hidden
                opacity: 0
                transition: all 0.2s ease-in-out
                background-color: #4C4F5E

            &:hover 
                position: relative
                padding-left: 16px
                font-size: 13px
                color: #4C4F5E

                &::before 
                    visibility: visible !important
                    opacity: 1 !important

    .dropdown-image 
        width: 230px
        height: 230px
        margin-top: 21px
        border-radius: 16px
        background-color: #E6E6E6

    .button 
        width: 190px
        height: 33px
        margin-bottom: 1px
        padding: 2px 2px 2px 6px
        border-radius: 16.5px
        background-color: #DEA9A9

    .button-text 
        position: relative
        padding-left: 10px
        line-height: 13px
        text-transform: uppercase

        &::before 
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            content: ""
            display: inline-block
            width: 5px
            height: 5px
            border-radius: 50%
            -moz-border-radius: 50%
            -webkit-border-radius: 50%
            background-color: #FFF

    .button-icon 
        width: 29px
        height: 29px
        border-radius: 50%
        background-color: #FFE0E0

.footer1
  background-color: #959EAD
  padding: 52px 0 52px 0

.footer2
  background-color: #004636
  padding: 16px 0 19px 0

.general-menu
  display: flex
  flex-direction: row

.desk 
    p
        font-size: 10px
        color: #A7A7A7

.network
    display: flex
    max-width: 296px
    max-height: 116px
    background-color: #848E9E
    padding: 7px 7px 7px 20px
    border-radius: 5px

    img
        width: 102px
        height: 102px
        margin-left: 115px

.names-link
    display: flex
    flex-direction: column
    margin-top: 14px

.social-network 
    img
        width: 28px
        height: 28px
        margin-top: 22px
        margin-right: 12px

.footer-top 
    padding: 52px 0 42px
    background-color: #959EAD

    .text
        color: #FFF
        font-size: 13px
        line-height: 24px

.footer-box, .footer-icon 
        background-color: #848E9E

.footer-box 
    width: 269px
    padding: 7px 7px 7px 20px
    border-radius: 5px

    .text 
        font-size: 12px
        line-height: 19px

.footer-info 
    width: 222px

    .text 
        margin-left: 10px

.footer-info__icon 
    height: 24px

.footer-socials
    gap: 12px
    margin-top: 22px

.footer-socials__icon 
    width: 28px
    height: 28px
    border-radius: 50%

.footer-bottom 
    padding-top: 16px
    padding-bottom: 19px
    background-color: #004636

    .text 
        width: 666px
        font-size: 10px
        color: #A7A7A7
        line-height: 10px

.box.horizontal.space
    display: flex
    justify-content: space-around

.action 
  gap: 6px

.action_list 
  gap: 18px
  margin-top: 3px
  display: flex

.action-icon
  width: 24px
  height: 24px
  border-radius: 50%
  background-color: #959EAD

.action-text 
  font-size: 10px
  line-height: 11px
  color: #626262

.horizontal
    display: flex
    align-items: baseline

.footer-box.horizontal.inline.space
    display: ruby-text

// -------------------------

.title
    font-weight: 400

.sec
    margin-left: 340px
    display: flex

    .line
        .vector
            background-color: #959EAD
            width: 34px
            height: 34px
            border-radius: 50%
            margin: 21px 0 0 -16px
            position: absolute
            padding: 6px 0px 6px 8px

        .vl-line
            border-left: 1px solid #959EAD
            height: 341px
            margin-right: 46px
            margin-top: 55px


    .forms

        select
            width: 310px
            height: 40px
            font-size: 13px
            color: #3B3B3B
            border-radius: 33px
            padding-left: 15px
            margin-top: 15px
            margin-bottom: 39px

        input
            width: 310px
            height: 40px
            font-size: 13px
            color: #3B3B3B
            border-radius: 33px
            padding-left: 15px
            margin-top: 15px
            margin-bottom: 39px
    
.sec2
    width: 920px
    height: auto
    background-color: white
    border-radius: 5px
    padding: 27px 64px 13px 65px
    margin-bottom: 28px
    margin-left: 340px

    .forms

        input
            width: 310px
            height: 40px
            font-size: 13px
            color: #3B3B3B
            border-radius: 33px
            padding-left: 15px
            margin-top: 15px
            margin-bottom: 39px

    .info 
        display: flex
        justify-content: space-between
        align-items: cente

        p
            font-size: 13px
            color: #474747

            &:last-child
                font-size: 15px
                text-align: right   

    .line
        border-bottom: 1px solid #6C6C6C
        margin: 25px 0
    
    .price 
        p
            font-size: 15px
            color: #474747
            text-align: right
            margin-bottom: 7px

            &:last-child
                font-size: 23px
                font-weight: 700
                color: #004636
                text-align: right

.order 
    button
        width: 332px
        height: 46px
        background-color: #4D897B
        border-radius: 30px
        border: none
        font-size: 15px
        text-align: center
        color: #FFFFFF
        margin-bottom: 50px
        margin-left: 620px
    
.block
    display: none
    .additionally
        display: flex
        .forms
            margin-right: 10px
    
    .additionally
        .forms
            input
                width: 637px
                height: 40px

    // ------------------
.central
    width: 350px
    .all-info
        margin-bottom: 105px
        .info
            display: flex
            align-items: center
            justify-content: space-between
            p
                font-size: 12px

.lines
    .line
        border: 1px solid #959EAD
        width: 350px
    .info
        display: flex
        align-items: center
        justify-content: space-between
        p
            font-size: 12px
            margin-top: 7px
            margin-bottom: 11px

.right
    max-width: 350px
    height: 350px
    background-color: #FFFFFF
    padding-top: 15px
    padding-bottom: 6px
    

    .notice
        position: relative

        .card-banner 
            position: absolute
            top: 10px
            left: 0

            .card-banner__info 
                position: absolute
                top: 9px
                left: 8px
                gap: 8px
                display: flex
                align-items: center

                img
                    margin-bottom: 15px

                .text 
                    font-size: 13px
                    color: #FFFFFF

        .card-sale 
            position: absolute
            top: 47%
            right: 11.5px
            width: 54px
            height: 54px
            border-radius: 50%
            outline: 1px solid #FFF
            background-color: #FFE0E0
            color: #DEA9A9
            margin-top: 3px

            .icon 
                position: absolute
                top: 4px
                left: 15.5px

            p
                margin-left: 6px
                top: 20px
                position: absolute
                font-size: 15px
                font-weight: 700


    .general

        padding: 0 19px 0 17px
        margin-top: 110px

        .info
            display: flex
            justify-content: space-between
            .inf
                display: flex

                img
                    width: 19px
                    height: 19px

                p
                    margin-left: 5px
            p
                font-size: 12px
                color: #6E6E6E

    .result
        display: flex
        justify-content: space-between
        align-items: center

        p
            font-size: 12px
            color: #6E6E6E
            margin-left: 15px

            &:last-child
                font-size: 23px
                font-weight: 700
                color: #004636
                margin-right: 20px

.icon
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px 22px 5px 16px
    .details
        display: flex
        align-items: center

        .details-icon
            display: flex
            align-items: center
            margin-right: 10px

        img
            width: 19px
            height: 19px
            margin-right: 5px

        p, a
            font-size: 12px
            color: #4A4A4A
            margin: 0 0
            margin-left: 5px
.knob
    width: 332px
    height: 46px
    background-color: #4D897B
    border-radius: 30px 30px 5px 5px
    margin: 13px 5px 0px 13px
    padding-top: 13px
    text-align: center

    img
        width: 14px
        height: 14px
        margin-right: 5px

    a
        font-size: 14px
        color: #FFFFFF
        



.main-picture
    max-width: 350px
    height: 350px
    border-radius: 5px
    border: 1px solid #959EAD

    .card-like
        top: 7px
        right: 8px
        width: 34px
        height: 34px
        border-radius: 50%
        background-color: #F7F7F7
        position: relative
        left: 300px

        .icon
            padding: 8px 6px

    .card-galery 
        width: 100%
        min-height: 208px
        border-radius: 5px
        background-color: #EDEDED

        .circle 
            width: 220px
            height: 220px
            border-radius: 50%
            background-color: #E6E6E6
            transition: all 0.3s ease-in-out
            position: absolute
            margin: 30px 60px

        .image 
            position: absolute
            width: 302px
            margin: 0px 23px 15px 25px


        &:hover 
            .circle 
                width: 240px
                height: 240px
                background-color: #FEE3B1

        .center 
            justify-content: center

.more
    display: flex
    .picture
        width: 99px
        height: 103px
        border-radius: 5px
        border: 1px solid #959EAD
        margin-top: 12px
        margin-right: 9px 

        .image 
            position: absolute
            width: 65px
            margin:19px 17px 19px 17px

.relations
    display: flex

    .details
        width: 168px
        height: 46px
        background-color: #959EAD
        margin: 5px 5px
        border-radius: 30px
        display: flex
        align-items: center
        justify-content: center
        margin-top: 68px
        
        img
            width: 24px
            height: 24px
            margin-right: 5px

        .btn-link
            font-size: 14px
            color: #FFFFFF
            text-decoration: none

#popupDetail
    position: fixed
    top: 20%
    width: 50%
    left: 0
    right: 0
    background-color: #fff
    margin: 0 auto
    min-height: 500px
    display: none
    &.active
        display: block
